@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.content{
    min-height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
.login-form{
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-basis: 40%;
    padding: 4em 5em;
}
.welcome{
   color: #ff5a60;
}
.form-img{
    flex-basis:60%;
    padding: 50px;
    align-items: center;
    display:flex;
}
.form-img img{
    border-radius: 30px;
    align-items:right;
    object-fit: cover;
}
p{
    line-height: 25px;
}
.btn,button,input{
    border-radius: 5px;
}
.btn:hover,
.form-login button:hover{
    background-color: #b80b53;
    transition: 0.5s ease;
}
.form-login input{
    outline:none;
    margin-bottom: 13px;
    font-stretch: 15px;
    color: #162D3A;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #8897AD;
    background: #f7fafc;
    transition: 0.3s ease;
}
.form-login input:focus{
    background: transparent;
    border: 1px solid #162D3A;
}
.form-login button{
    color: #fff;
    width: 100%;
    background: #DB0C63;
    border: none;
    padding: 14px 15px;
    font-weight: 600;
    transition: 0.3s ease;
}
p.account a{
    color: #1E4AE9;
}
p.account a:hover{
 text-decoration: underline;
}
div a{
    color: #1E4AE9;
}
div a:hover{
 text-decoration: underline;
}
.cright{
    color:#959CB6;
}
.top-img{
    width:100%;
    max-height:160px;
    object-fit: cover;
    border-radius:25px;
}

/* button google */
.btng{
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.or-container{
    padding: 15px 0;
}
.btng,button,input{
    border-radius: 5px;
}
.btng,button,input{
    border-radius: 5px;
}
.btng:hover,
.or-container button:hover{
    background-color: #e0e0e0;
    transition: 0.5s ease;
}
.btng img{
    width: 20px;
    margin-right : 20px;
}
.or-container input{
    outline:none;
    margin-bottom: 13px;
    font-stretch: 15px;
    color: #162D3A;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #8897AD;
    background: #f7fafc;
    transition: 0.3s ease;
}
.or-container input:focus{
    background: transparent;
    border: 1px solid #162D3A;
}
.or-container button{
    color: black;
    width: 100%;
    background: white;
    border: 1px solid #162D3A;
    padding: 14px 15px;
    font-weight: 600;
    transition: 0.3s ease;
}
/* button google */

.or-container h3{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:auto;
    font-size: 20px;
    width: 100%;
    position:relative;

    }
    .or-container h3:before{
    content: "";
    display:block;
    width:300px;
    height:1px;
    background: #8897AD;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
    }
    .or-container h3:after{
    content: "";
    display:block;
    width:300px;
    height:1px;
    background: #8897AD;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
    }



  @media only screen and (max-width: 1960px) {

    .or-container h3:before{
        width:220px;
    }
    .or-container h3:after{
        width:220px;
    }
  }
  @media only screen and (max-width: 1560px) {
    .or-container h3:before{
        width:110px;
    }
    .or-container h3:after{
        width:110px;
    }
  }
  @media only screen and (max-width: 1024px) {
    .right-img {
      display:none;
    }
    .login-form{
        flex-basis: 100%;
        padding: 5em 3em;
    }
    .or-container h3:before{
        width:250px;
    }
    .or-container h3:after{
        width:250px;
    }
  }
  @media only screen and (max-width: 640px) {
    .right-img {
      display:none;
    }
    .login-form{
        flex-basis: 100%;
        padding: 5em 5em;
    }
    .text-responsive{
        margin-top: 0px;
    }
    .or-container h3:before{
        width:90px;
    }
    .or-container h3:after{
        width:90px;
    }
  }

  @media only screen and (min-width: 1025px) {
    .top-img {
        display:none;        
    }
}