/* *{
  text-decoration: none !important;
} */

body {
/* font-family: 'Arial', sans-serif; */
margin: 0;
padding: 0;
overflow-x: hidden;
}
.rc-menu-item{
  margin-inline: 16px !important;
  margin-block: 16px !important;
  }
.card-product {
position: relative;
}
.default-nav{
  margin:10px;
  font-size: 2px !important;
  width:24px !important;
  height:24px !important;
  padding:5px;
}
.products {
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.color-product {
color: #717171;
}
.img-product {
width: 250px;
height: 250px;
border-radius: 10px;
object-fit: cover;
display: flex;
justify-content: center;
background-size: cover;
}
.slide{
width: 255px;
height: 255px;
margin: 2px;
}
.text-fav {
font-size: small;
position: absolute;
margin: 6px;
top: 5px;
left: 5px;
background-color: rgba(255, 255, 255, 0.8);
/* Adjust the background color and opacity */
padding: 5px 15px;
border-radius: 40px;
box-sizing: border-box;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
.rating {
display: flex;
justify-content: space-between;
}
.button {
background-color: #222425;
font-weight: bold;
border: none;
color: white;
padding: 12px 36px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 36px 2px;
transition-duration: 0.4s;
cursor: pointer;
}
.button1 {
background-color: #222425;
color: white;
border: none;
border-radius: 10px;
}
.button1:hover {
background-color: black;
color: white;
}
.zoom {
transition: transform .2s;
/* Animation */
margin: 0 auto;
transform: scale(1.25)
}
.zoom:hover {
transform: scale(1.5);
/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.love-product {
position: absolute;
margin: 6px;
top: 5px;
right: 5px;
padding: 5px 15px;
}

@media only screen and (max-width: 640px) {
.main-container {
  margin-top: 90px;
}
}
.fa-heart-container {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em; 
  margin: 6px; 
  top: 5px;
  right: 10px; 
}

.fa-heart-outline {
  color: white;
  font-size: 1em;
}

.fa-heart-solid-red {
  color: red;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); 
  font-size: 1em; 
  pointer-events: none; 
}

.fa-heart-solid-black {
  position: absolute;
  color: black;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); 
  font-size: 1em; 
  pointer-events: none; 
  opacity: 0.7;
}
